* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;  /* removes inline gap */
  border: 2px solid #000000;
  /* background: #1a1a1a; */
  background: #1a1a1a;
}
